@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

.loader_bg{
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
}
.loader{
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before, .loader:after{
  content: '';
  border: 1em solid #ff5733;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("./Blockdum.png");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}

.Container {
    width: 80%;
    margin:0 auto;
   }
   

   header::after {
     content: '';
     display: table;
     clear: both;
   }

   header {
     background: #F0FFFF;
   }

   nav {
     float: right;
    
   }
   
   nav ul {
     margin: 0;
     padding: 0;
     list-style: none;
   }
   
   nav li {
     display: inline-block;
     margin-left: 20px;
     padding: 23px;

     position: relative;
   }
   
   nav a {
     color: #2F4F4F;
     text-decoration: none;
     font-size: 20px;
   }
   
   nav a:hover {
     color: #000;
   }
   
   nav a::before {
     content: '';
     display: block;
     height: 5px;
     background-color: #444;

     position: absolute;
     top: 0;
     width: 0%;
     
     transition: all ease-in-out 250ms;
   }
   
   nav a:hover::before {
   width: 100%;
   }