.Container {
    width: 80%;
    margin:0 auto;
   }
   

   header::after {
     content: '';
     display: table;
     clear: both;
   }

   header {
     background: #F0FFFF;
   }

   nav {
     float: right;
    
   }
   
   nav ul {
     margin: 0;
     padding: 0;
     list-style: none;
   }
   
   nav li {
     display: inline-block;
     margin-left: 20px;
     padding: 23px;

     position: relative;
   }
   
   nav a {
     color: #2F4F4F;
     text-decoration: none;
     font-size: 20px;
   }
   
   nav a:hover {
     color: #000;
   }
   
   nav a::before {
     content: '';
     display: block;
     height: 5px;
     background-color: #444;

     position: absolute;
     top: 0;
     width: 0%;
     
     transition: all ease-in-out 250ms;
   }
   
   nav a:hover::before {
   width: 100%;
   }
   
   body {
   background-color:palegoldenrod;
   }
    

::-webkit-scrollbar
{
width: 12px;

}
::-webkit-scrollbar-thumb
{
background: linear-gradient(transparent,#b9b9b9);
border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover
{
background: linear-gradient(transparent,#30ff00);
}

.h1 {
font-size: 42px;
}

.samp {
font-family: monospace;
}

.footer-container {
background-color: #F0FFFF;
padding-bottom: 8rem;
}

.footer {
width: 80%;
height: 40vh;
background-color: #F0FFFF;
color: black;
display: flex;
justify-content: center;
flex-wrap: wrap;
margin: 0 auto;
}

.footer-heading {
display: flex;
flex-direction: column;
margin-right: 4rem;
}

.footer-heading h2 {
margin-bottom: 2rem;
}

.footer-heading a {
color: black;
text-decoration: none;
margin-bottom: 0.5rem;
}

.footer-heading samp {
color: black;
text-decoration: none;
margin-bottom: 0.5rem;
}

.footer-heading a:hover {
color: rgb(153, 233, 171);
transition: 0.3s ease-out;
}

*
{
padding: 0;
margin: 0;
box-sizing: border-box;
}